{% load static %}
<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="{% static "bells/path.js" %}"></script>
  <script src="{% static "bells/bells.js" %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "bells/style.css" %}">
  <link rel="icon" type="image/x-icon" href="/static/bells/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

{% block title%}
<title>Title from D3</title>
{% endblock title%}
</head>
<body>
    {% block fullscreen %}{% endblock fullscreen %}
</body>
</html>
