{% load static %}
<!DOCTYPE html>
<html>
<head>
  <script src="{% static "bells/jquery.min.js" %}"></script>
  <script src="{% static "bells/d3.v3.min.js" %}"></script>
  <script src="{% static "bells/path.js" %}"></script>
  <script src="{% static "bells/bells.js" %}"></script>
  <script src="{% static "bells/iframes.js" %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "bells/style.css" %}">
  <link rel="icon" type="image/x-icon" href="/static/bells/favicon.ico">

{% block title%}
<title>Title from D3</title>
{% endblock title%}
</head>
<body>
    {% block fullscreen %}{% endblock fullscreen %}
    {% block menu %}{% endblock menu %}
    {% block display %}{% endblock display %}   
</body>
</html>
