{% load static %}
<!DOCTYPE html>
<html>
<head>
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/d3.v3.min.js" %}"></script>
  <script src="{% static "js/path.js" %}"></script>
  <script src="{% static "js/bells.js" %}"></script>
  <!-- <script src="{% static "js/pagesize.js" %}"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">

{% block title%}
<title>Title from blank_iframe</title>
{% endblock title%}
</head>
<body>
    {% block fullscreen %}{% endblock fullscreen %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>
