{% load static %}
<table class="frontpage_table_select">
    <tr>
      <td>
          {% for num in numbers%}
            {% if num == number %}
            <button 
            class="changenumberbutton"
            disabled="disabled">
              <span class="frontpage_td_select_first_char shadow">{{num}}</span>
            </button>
            {% else %}
              <button
                class="changenumberbutton"
                >
                <span class="frontpage_td_select_other_char shadow">{{num}}</span>
              </button>
            {% endif %}
          {% endfor %}
        
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    {% for item in to_patterns %}
      <tr>
        <td> 
          <button 
            id="{{item.name}}"
            number="{{number}}"
            numbers="{{numbers}}"
            class="changenamebutton"
            >
            <span class="frontpage_td_select_first_char shadow">{{item.name|slice:":1"}}</span><span class="frontpage_td_select_other_char shadow">{{item.name|slice:"1:"}}</span>
          </button>
        </td>  
      </tr>
    {% endfor %}
  </table>
  <script nonce="{{request.csp_nonce}}" type="text/javascript" src="{% static "/bells/pagesize.js" %}"></script>