{% extends "bells/blank_iframe.html"%}
{% load static %}

{% block title%}
{% endblock title%}

{% block fullscreen %} 
<div class="frontpage">
  <div class="frontpage_container">
    {% for res in result_block %}
      <div>
        {% include "bells/frontpage_display.html" %}
      </div>
      {% endfor%}
  </div>

  <div class="drumkit">
    <span style="background-color: #aa3333;"><div class="pad" data-sound="bell1"><img src="{% static "/icons/kick.png" %}" alt="Bell 1"></div></span>
    <span style="background-color: #aa8833;"><div class="pad" data-sound="bell2"><img src="{% static "/icons/kick.png" %}" alt="Bell 2"></div></span>
    <span style="background-color: #aaaa33;"><div class="pad" data-sound="bell3"><img src="{% static "/icons/kick.png" %}" alt="Bell 3"></div></span>
    <span style="background-color: #33aa33;"><div class="pad" data-sound="bell4"><img src="{% static "/icons/kick.png" %}" alt="Bell 4"></div></span>
    <span style="background-color: #33aaaa;"><div class="pad" data-sound="bell5"><img src="{% static "/icons/kick.png" %}" alt="Bell 5"></div></span>
    <span style="background-color: #3333aa;"><div class="pad" data-sound="bell6"><img src="{% static "/icons/kick.png" %}" alt="Bell 6"></div></span>
    <span style="background-color: #aa33aa;"><div class="pad" data-sound="bell7"><img src="{% static "/icons/kick.png" %}" alt="Bell 7"></div></span>
    <span style="background-color: #aa3333;"><div class="pad" data-sound="bell8"><img src="{% static "/icons/kick.png" %}" alt="Bell 8"></div></span>
  </div>
</div>
{% endblock fullscreen%}

{% block scripts %}

<script src="{% static "/js/howler.min.js" %}"></script> 
<script src="{% static "/js/apps.js" %}" ></script>
<!-- <script src="{% static "/js/sequence_js.js" %}" ></script> -->

{% endblock scripts %}