{% extends "bells/blank.html"%}
{% load static %}

{% block title%}{% endblock title%}

{% block fullscreen %} 
<div class="frontpage">

<div class="frontpage_container{% if legs|length >= 3 %} three-pattern{% endif %}">
  {% if legs %}
    {% for leg in legs %}
      <div class="pattern-slot slot-{{ forloop.counter }}">
        {% include "bells/frontpage_display.html" with leg=leg from_pattern=leg.from_pattern to_pattern=leg.to_pattern %}
      </div>
    {% endfor %}
  {% endif %}
</div>

{# drumkit moved to #bell-circle on home.html #}

</div>
{% endblock fullscreen%}

{% block scripts %}
{{ display|json_script:"sandbells-display" }}
<script src="{% static 'js/jquery.min.js' %}?v={{ git_hash }}"></script>
<script src="{% static 'js/d3.v3.min.js' %}?v={{ git_hash }}"></script>
<script src="{% static 'js/howler.min.js' %}?v={{ git_hash }}"></script>
<script src="{% static 'js/apps.js' %}?v={{ git_hash }}"></script>
<script src="{% static 'js/clock_analogue.js' %}?v={{ git_hash }}"></script>
<script src="{% static 'js/pagesize.js' %}?v={{ git_hash }}"></script>
<script src="{% static 'js/pattern_layout.js' %}?v={{ git_hash }}-2"></script>
{% endblock scripts %}
