<table class="frontpage_table_select">
    <tr>
      <td>
          {% for num in numbers%}
            {% if num == number %}
            <button
            onclick='onPress(id, "/display/{{num}}/")'
            style="border:none;"
            disabled="disabled">
              <span class="frontpage_td_select_first_char shadow">{{num}}</span>
            </button>
            {% else %}
              <button
                onclick='onPress(id, "/display/{{num}}/")'
                style="border:none;">
                <span class="frontpage_td_select_other_char shadow">{{num}}</span>
              </button>
            {% endif %}
          {% endfor %}
        
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    {% for item in to_patterns %}
      <tr>
        <td> 
          <button 
            onclick='onPress(id, "/display/{{number}}/{{item.name}}/")'
            style="border:none;">
            <span class="frontpage_td_select_first_char shadow">{{item.name|slice:":1"}}</span><span class="frontpage_td_select_other_char shadow">{{item.name|slice:"1:"}}</span>
          </button>
        </td>  
      </tr>
    {% endfor %}
  </table>