{% extends "bells/blank.html"%}
{% load static %}

{% block title%}
{% endblock title%}

{% block fullscreen %} 
  <div class="frontpage_container">
    {% comment %}{% if not rounds  %}{% endcomment %}
      <div>  
      {% include "bells/frontpage_analogue.html" %}
      </div>
      {% comment %}{% endif%}{% endcomment %}

    {% for res in result_block %}
      <div>
        {% include "bells/frontpage_display.html" %}
      </div>
      {% endfor%}

      <div>
        {% include "bells/frontpage_select.html" %}
      </div> 
  </div>
  {% endblock fullscreen%}
