{% extends "bells/blank.html"%}
{% load static %}
{% block title%}
<title>Title from iFrame</title>
{% endblock title%}
  {% block fullscreen %}
  <table>
    <tr>
      <td>
        <svg
            id="clock"
            height="1000px"
            width="270px" 
            viewBox="-25 450 400 400" 
            class="clockSvg shadow">

            <g id = "posinfo" class="info">
              <text id="window_width" x="0" y="1050" fill="red" stroke="black" font-size="30">Win W</text>
              <text id="window_width_value" x="200" y="1050" fill="red" stroke="black" font-size="30">10000</text>
              <text id="window_height" x="0" y="1100" fill="red" stroke="black" font-size="30">Win H</text>
              <text id="window_height_value" x="200" y="1100" fill="red" stroke="black" font-size="30">10000</text>
              <text id="width" x="0" y="1150" fill="red" stroke="black" font-size="30">Width:>X</text>
              <text id="width_value" x="200" y="1150" fill="red" stroke="black" font-size="30">1000</text>
              <text id="height" x="0" y="1200" fill="red" stroke="black" font-size="30">Height:^Y</text>
              <text id="height_value" x="200" y="1200" fill="red" stroke="black" font-size="30">1000</text>
              <text id="ipaddr" x="0" y="1250" fill="red" stroke="black" font-size="30">IP Addr:</text>
              <text id="ipaddr_value_value" x="200" y="1250" fill="red" stroke="black" font-size="30">1000</text>
              <text id="lastkey" x="0" y="1300" fill="red" stroke="black" font-size="30">LastKey:</text>
              <text id="lastkey_value" x="200" y="1300" fill="red" stroke="black" font-size="30"></text>

              <text id="sandbells" x="220" y="1460" fill="red" stroke="black" font-size="30">Sandbells</text>
            </g>

              <circle class="frame" cx="175" cy="175" r="145" stroke="black" stroke-width="8px"></circle>
            <g class="units">
                <line class="hour" x1="175" y1="175" x2="175" y2="75" stroke="#2c6d3a" stroke-width="6px"></line>
                <line class="minute" x1="175" y1="175" x2="175" y2="56" stroke="#9a4f05" stroke-width="4px"></line>
                <line class="second" x1="175" y1="175" x2="175" y2="43" stroke="#391d5b" stroke-width="3px"></line>
            </g>
            <g class="numbers"></g>
            <g class="marks"></g>
            <circle cx="175" cy="175" r="10" stroke="black" fill="green"></circle>
        </svg>

        <script type="text/javascript" src="{% static "bells/clock_analogue.js" %}"></script>
        <script type="text/javascript" src="{% static "/bells/pagesize.js" %}"></script>
        
      </td><td>
        <iframe 
            id="ishow"
            src="/show/"
            height="1000px"
            width ="1380px" 
            <!-- referrerpolicy="strict-origin-when-cross-origin"  -->
            onload="onLoad()" 
            onerror="onError()">
        </iframe> 
      </td><td>
        <iframe 
            id ="imenu"
            src="/menu/"
            height = "1000px"
            width="250" 
            onload="onLoad()" 
            onerror="onError()">
        </iframe>
      </td>
    </tr>

  </table>
  {% endblock fullscreen %}
    
</body>
</html>