asgiref   ==     3.8.1
attrs     ==     22.2.0
Django    ==     4.2.11
django-csp==     3.8
exceptiongroup ==1.1.0
iniconfig ==     2.0.0
packaging  ==    24.0
Pillow  ==       9.4.0
pip    ==        20.3.4
# pkg-resources == 0.0.0
pluggy   ==      1.0.0
pytest  ==       7.2.1
pytest-django == 4.5.2
reportlab ==     3.6.12
setuptools  ==   44.1.1
sqlparse   ==    0.5.0
tomli    ==      2.0.1
gunicorn ==      22.0.0
MIDIUtil ==      1.2.1
# psycopg2==       2.9.9
typing-extensions==4.11.0
