[Unit]
Description=gunicorn socket for Sandbells

[Socket]
ListenStream=/run/gunicorn.socket
SocketUser=sandbells
SocketGroup=sandbells
SocketMode=0660

[Install]
WantedBy=sockets.target
