[Unit]
Description=Periodically ensure Sandbells local network

[Timer]
OnBootSec=30
OnUnitActiveSec=60
AccuracySec=10

[Install]
WantedBy=timers.target
