/* Sandbells CSS Page

/* Safari syntax  */
:-webkit-full-screen {
  background-color: rgb(255, 0, 43);
}

/* IE11 syntax */
:-ms-fullscreen {
  background-color: rgb(123, 255, 0);
}

/* Standard syntax */
:fullscreen {
  background-color: whitesmoke;
}


li a {
  color: green;
}
html, body {
  display: flex;   
  background-color: whitesmoke;
}

footer{
  width: 98%;
  height:20vh;
  border-style: solid;
  border-width: 1px;
  border-color: darkgoldenrod;
}

iframe {
  border: .3em solid white;
  height:   "900px";     /* 1080px Magic numbers */      
  width :   "1100px";
  border-width:"1px";
}
svg {
	border-style: solid;     /* parameters set in svg_data.html*/
  border-color:white;
  border-width:".1px";
  box-sizing: border-box;
}
/* .shadow {
  -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .5));
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .5));
} */

.script{
  font-family: 'Arial', serif;
  font-size: 200px;
  /* font-style: italic; */
  font-weight: bold;
  /* font-variant: small-caps; */
}
.scriptcap{
  font-family: 'Arial', serif;
  font-size: 300px;
  /* font-style: italic; */
  font-weight: bold;
  /* font-variant: small-caps; */
  color: crimson;
}

.frontpage {
  display:flex;
  flex-direction: column;
}

.frontpage_container{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: right;
  gap: 20px;
  /* background-color: #008CBA;   */
  background-color: whitesmoke;
}

.frontpage_container > div {
  background-color: whitesmoke;
}

.frontpage_table_select{
  display: block;
  border-style: solid;
  border-color:white;
  border-width:"1px";
  white-space: nowrap;
}

.frontpage_td_select_first_char{
  /* align-items: left; */
  margin-right: 4px;
  border: none;
  color: red;
  text-align: left;
  text-decoration:none;
  font-size: 3.1vh;
}
.frontpage_td_select_other_char{
  /* align-items: left; */
  border: none;
  color: black;
  text-align: left;
  text-decoration:none;
  font-size: 2.9vh;
  /* -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .7));
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .2)); */
}


.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.changebutton{
  font-size: large;
  margin: 4px;
  color: rgb(221, 11, 74);
}

.changebutton hover{
  font-size: large;
  margin: 4px;
  color: rgb(68, 44, 172);
}

.changenumberbutton{
  font-size: large;
  margin: 4px;
  color: rgb(78, 207, 38);
}

.changenumberbutton hover{
  font-size: large;
  margin: 4px;
  color: rgb(216, 162, 13);
}

.changenamebutton{
  font-size: large;
  margin: 1px;
  color: aquamarine;
}
.changenamebutton hover {
  font-size: large;
  margin: 1px;
  color: rgb(209, 38, 172);
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.ring_button{
  background-color: white;
  margin: 0px;
  border: none;
}

.lightbulb {
  background-color: red;
  color: black;
  border: 2px solid purple;
  width: "20%";
  margin: 15px;
  float: right;
}


.lightbulb.on {
  background-color: rgb(0, 255, 0);
  color: pink;
  border: 2px solid yellow;
}

.lightbulb.off {
  background-color: rgb(128, 119, 0);
  color: rgb(19, 53, 202);
  border: 2px solid rgb(0, 247, 255);
}

.branding {
  float: right;
  margin-right: 2px;
}

.switch {
  width: 300px;
  float: right;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(127, 224, 16);
  padding: 15px;
}

.canvasbetween {
  width: 300px;
  float: left;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(224, 16, 207);
  padding: 15px;
}

.params {
  width: 300px;
  float: left;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(224, 16, 207);
  padding: 15px;
}

line.node-link,
path.node-link {
  fill: none;
  stroke: black
}

circle.node {
  fill: white;
  stroke: black
}

circle.node+text {
  text-anchor: middle;
}

text {
  font-family: sans-serif;
  
}

.patternname{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: rgb(18, 14, 73);
  text-align: right;
  
  width:45%;
  text-indent:25px;
  margin-right: 25px;
}

.frontpage_table_display{
  border-style: solid;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  display:table-cell; 
}

/* .frontpage_tr_display{   */
     /* pointer-events: none; */
/* } */

.change_td_displayed{
  margin-top: 0px;
  border: #4CAF50 20px;
}

.changeheader {
  font-size:xx-large;
/*   -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .7));
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .2)); */
}
.pattern_counter{
  color: red;
  text-align: right;
  width:4%;
  text-decoration:none;
  font-size: x-large;
 /*  -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .7));
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .2)); */

}

.changebody {
  margin-left:5px;
  font-size: xx-large;
  color: rgb(36, 36, 36);
  
  text-align:center;
  width:35%;
  white-space:nowrap;
}

.changefrom {
  font-family: Arial, Helvetica, sans-serif;
  font-size:xx-large;
  color: red;
  
  width:45%;
}

.changeto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: red;
  
  width:45%;
}

.changerounds {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: green;
  
  width:45%;
}

.change {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: rgb(36, 36, 36);
  
  width:45%;
}

.largechar{
  font-family: Arial, Helvetica, sans-serif;
  font-size: xxx-large;
  font-weight: bold;
}
.largecharround {
  color: green;
}
.largecharto {
  color: red;
}
.largecharfrom {
  color: red;
}


.plainchar {
  font-family: Arial, Helvetica, sans-serif;
  font-size:40px;    /* xxx-large */
  color: rgb(85, 78, 85);
}

.swapchar {
  font-weight: bold;
}


.swap {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(32, 32, 25);
  width:14%;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;  /* opening up the table */
  border-color: transparent;
}
.swap_small {
  font-size: large;
}

.highlight {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(34, 32, 177);
  width:14%;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;  /* opening up the table */
  border-color: transparent;
}


.clockSvg circle.frame{
	fill: whitesmoke; 
  background-image: linear-gradient(red, yellow);
  /* radial-gradient(red, yellow, green); */
}

.units line {
	stroke-linecap: round;
}

.marks text {
	font-size: 6px;
    font-weight: bold;
}

.portrait_td_select{
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.drumkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex: 1 0 calc(10% - 20px);
  background: radial-gradient(#df9e12, #d4b710);
  border-radius: 3px;
}

.pad img {
  width: 100px;
  pointer-events: none;
}